@model ChaoticaOnline.ViewModels.GameViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    ViewBag.HeroImage = Model.Player.HeroImage;
}

<table style="background-color:black">
    <tr>
        <td width="550px" height="950px" style="min-width:550px">
            <table width="550">
                <tr>
                    <td height="50px" colspan="7"></td>
                </tr>
                <tr>
                    <td id="partytd" colspan="7" height="144px">
                        @Html.Partial("~/Views/Main/Subs/_PartyWindow.cshtml", Model.Party)
                    </td>
                </tr>
                <tr>
                    <td colspan="7" height="7px"></td>
                </tr>
                <tr>
                    <td height="35px" width="75px"></td>
                    <td height="35px" width="75px">
                        <button onclick="ClickedMainButton(1)" type="button" class="btn main-button" style="background-color:#@Model.Player.Color;">Hero</button>
                    </td>
                    <td height="35px" width="75px">
                        <button onclick="ClickedMainButton(2)" type="button" class="btn main-button" style="background-color:#@Model.Player.Color;">Roster</button>
                    </td>
                    <td height="35px" width="75px">
                        <button onclick="ClickedMainButton(3)" type="button" class="btn main-button" style="background-color:#@Model.Player.Color;">Items</button>
                    </td>
                    <td height="35px" width="75px">
                        <button onclick="ClickedMainButton(4)" type="button" class="btn main-button" style="background-color:#@Model.Player.Color;">Quests</button>
                    </td>
                    <td height="35px" width="75px">
                        <button onclick="ClickedMainButton(5)" type="button" class="btn main-button" style="background-color:#@Model.Player.Color;">Effects</button>
                    </td>
                    <td height="35px" width="75px"></td>
                </tr>
                <tr>
                    <td colspan="7" height="5px">
                    </td>
                </tr>
                <tr>
                    <td colspan="7" height="250px">
                        <table height="250" width="550">
                            <tr>
                                <td width="10px"></td>
                                <td id="InfoPanel1" width="530px" height="250px">
                                    @Html.Partial("~/Views/Main/Panels/_TilePanel.cshtml", Model.Tile)
                                </td>
                                <td width="10px"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="7" height="5px"></td>
                </tr>
                <tr>
                    <td colspan="7" height="250">
                        <table height="250" width="550">
                            <tr>
                                <td width="10px"></td>
                                <td id="InfoPanel2" width="530px" height="250px"></td>
                                <td width="10px"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td height="160px" colspan="4"></td>
                    <td colspan="3">
                    </td>
                </tr>
            </table>
        </td>
        <td width="950px" height="950px" id="MapCell">
            @Html.Partial("~/Views/Main/_Map.cshtml", Model.Map)
        </td>
    </tr>
</table>
