@model ChaoticaOnline.ViewModels.ActionButtonViewModel
<button type="button" onclick="ClickedAction(this)" data-ident="@Model.Identifier" data-acttype="@((int)Model.Action)" class="btn action-button" style="background-color:#@Model.Color;">@Model.Text</button>

