@using ChaoticaOnline.ViewModels;
@model List<SmallUnitViewModel>

@{ 
    int iIndex = 0;
}

<div id="partydiv">    
    <img id="hero" onclick="DisplayHeroUnit()" class="td-herounit"
         src="~/Data/monsters/@ViewBag.HeroImage" />
    @foreach (SmallUnitViewModel u in Model)
    {
        string strClass = "td-unit";
        if (u.Takes2Slots) { strClass = "td-largeunit"; }
        <img id="party_@iIndex" data-toggle="tooltip" title="@u.Tooltip" onclick="ClickedUnit(this)" 
             ondblclick="DoubleClickedPartyUnit(this)" data-unitid="@u.ID" class="@strClass" 
             src="~/Data/monsters/@u.Image" draggable="true" ondragover="allowDrop(event)" 
             ondragstart="drag(event)" ondrop="drop(event)" />
        iIndex += 1;
    }
</div>