@using ChaoticaOnline.ViewModels;
@model List<SmallUnitViewModel>

@{
    int iCount = 0;
}

<div style="width:530px;height:250px;background-color:black;" id="rosterdiv">
    <div style="width:510px;padding-left:10px">
        @foreach (SmallUnitViewModel u in Model)
        {<img id="roster_@iCount" data-toggle="tooltip" title="@u.Tooltip" 
              ondblclick="DoubleClickedRosterUnit(this)" onclick="ClickedUnit(this)" 
              data-unitid="@u.ID" class="img-rosterunit" src="~/Data/monsters/@u.Image" 
              draggable="true" ondragover="allowDrop(event)" ondragstart="drag(event)" 
              ondrop="drop(event)" />iCount += 1;}
    </div>
</div>