@model ChaoticaOnline.ViewModels.WorldItemViewModel


<div style="border-radius:10px;width:530px;height:250px;background-color:@Model.RarityColor">
    <table class="nopads" width="530" height="250"
           style="color:@Model.RarityInverseColor;text-align:center;font-size:11px;text-decoration-color:@Model.RarityInverseColor;">
        <tr>
            <td colspan="4" height="10px"></td>
        </tr>
        <tr>
            <td width="10px"></td>
            <td class="imagetd"
                style="border-radius:10px;vertical-align:top;background-image:url(../../Data/items/@Model.SubItem.Image);">
            </td>
            <td>
                <table width="280" height="230">
                    <tr>
                        <td colspan="2" height="40px" style="text-decoration:underline solid;">
                            <span style="font-size:16px">@Model.SubItem.ToolTip</span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span style="font-size:11px">@Model.SubItem.TypeName</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;" height="190px">
                            @foreach (KeyValuePair<string, string> kv in Model.Restrictions)
                            {
                                <span style="font-size:11px;color:@kv.Value;text-decoration-color:@kv.Value">@kv.Key</span><br />
                            }
                        </td>
                        <td style="vertical-align:top;">
                            @foreach (ChaoticaOnline.GameDBModels.Bonus b in Model.Bonuses)
                            {
                                <span style="font-size:11px">@b.Text()</span><br />
                            }
                        </td>
                    </tr>
                </table>
            </td>
            <td width="10px"></td>
        </tr>
        <tr>
            <td colspan="4" height="10px"></td>
        </tr>
    </table>
</div>